# Manipulação de dados ausentes
Data: 27/06/2025

In [30]:
import pandas as pd
import numpy as np

df = pd.DataFrame({'A':[1,2,np.nan],
                   'B':[5,np.nan,np.nan],
                   'C':[1,2,3]})
df

     A    B  C
0  1.0  5.0  1
1  2.0  NaN  2
2  NaN  NaN  3

In [31]:
# Excluir
print( df.dropna() ) # joga fora as linhas com NaN
print('----')

print( df.dropna(axis=1) ) # joga fora as Colunas com NaN
print('----')

print( df.dropna(axis=1, thresh=2) )  # joga fora as Colunas com mais de 2 NaN

     A    B  C
0  1.0  5.0  1
----
   C
0  1
1  2
2  3
----
     A  C
0  1.0  1
1  2.0  2
2  NaN  3

In [32]:
# Substituir
print( df.fillna(999) ) # Substituir o NaN por outro valor
print('----')

print( df.fillna('Qualquer') )
print('----')

print( df['A'].fillna(value=df['A'].mean()) )

       A      B  C
0    1.0    5.0  1
1    2.0  999.0  2
2  999.0  999.0  3
----
          A         B  C
0       1.0       5.0  1
1       2.0  Qualquer  2
2  Qualquer  Qualquer  3
----
0    1.0
1    2.0
2    1.5
Name: A, dtype: float64

In [33]:
# Preencher
df.bfill() # Preenche com a primeira informação

df.ffill() # Preenche com a última informação

     A    B  C
0  1.0  5.0  1
1  2.0  5.0  2
2  2.0  5.0  3