# Funções

<img src='./Dados/funcoes.png'></img>

In [ ]:
def times(x,y):
    return x*y 

times('abc|',10) # Objetos que suportam * vai rodar sem erro

'abc|abc|abc|abc|abc|abc|abc|abc|abc|abc|'

In [ ]:
def intersercao(seq1, seq2):
    resultado = [] # variável local
    for x in seq1:
        if x in seq2:
            resultado.append(x)
    return resultado
            
intersercao('abcd','cdef')

['c', 'd']

## Escopos e Argumentos

* Local: Dentro de um módulo envolvente

* Global: Pode ser acessado fora da função, nível superior

* Interno: <code>__builin__</code>, definidos pelo Python

<img src='./Dados/escopo_legb.png'></img>

De local para interno

* Global: x, fun

* Local: z, y

In [25]:
# Escopo global
x = 99

def fun(y):
    global w # Declara w como global
    # Escopo local
    w = 8
    z = x + y
    return z

print(fun(1))
print(w)

100
8

In [55]:
# Return em tuplas
def fun(x,y=9):
    z = x + y
    w = x ** y
    
    return z,w

a, b = fun(10,2)
# ou 
fun(10)

(19, 1000000000)

## Argumentos arbitrários

* '* e **' são funções que permitem qualquer número de argumentos

<code>
def f(*args):
    print(args)
</code>

* O python vai encaixando os argumentos sem chaves primeiro e depois os com chave

In [ ]:
# Coleta os argumentos como uma tupla
def f(*args):
    print(args)

f(1,2,3,4,5,6,7,8)

(1, 2, 3, 4, 5, 6, 7, 8)

In [ ]:
# Coleta os argumentos como um dicionário
def f(**args):
    print(args)

f(a=1,b=2,c=3,d=4,e=5)

{'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5}

In [ ]:
# Misturando os 3
def f(z, *pargs, **kargs):
    print (z, pargs, kargs)
    

print(f(1, 2, 3,x=4, y=5))

1 (2, 3) {'x': 4, 'y': 5}
None

## Lambda / Funções anônimas

lambda é uma função que retorna o resultado inves de atribuição

Função anônimas são aquelas sem def

Usada para instruções simples

<img src='./Dados/lambda.png'></img>

In [60]:
def dobrar(x):
    return x * 2
dobrar(10)

20

In [ ]:
dobrar = lambda x: x*2
dobrar(10)

20

Por exemplo, uma função que cria um elevador de potência:

* Se eu disser 2, quero uma função que eleve ao quadrado (²).

* Se eu disser 3, quero uma função que eleve ao cubo (³).

In [64]:
def potencia(n):
    return lambda x: x ** n

In [65]:
quadrado = potencia(2)
quadrado(5)

25

In [68]:
cubo = potencia(3)
cubo(5)

125

## Apply

Chamar funções e argumentos com o apply

In [9]:
import pandas as pd
df = pd.DataFrame((1,2,3))
print(df)

df.apply(lambda x: x*4)

   0
0  1
1  2
2  3

    0
0   4
1   8
2  12

## Funções de mapeamento em sequências

Sequências = Listas, strings ...

Operar cada item de uma sequência e coletar os resultados

Dá para fazer por **FOR**, mas o python criou o **MAP** para facilitar

In [22]:
contador = [1,2,3]
update = []

def fun(x):
    return x + 100

for i in contador: # Para cada item no contador
    i = fun(i) # Some 100
    update.append(i) # Adicione ao final da lista

update

[101, 102, 103]

**MAP** aplicar funções a sequências

In [25]:
contador = [1,2,3]
update = []

for i in map(fun, contador):
    update.append(i)

update

[101, 102, 103]

**FILTER** seleciona os items que serão afetados pela função

In [29]:
for i in filter(lambda x: x < 0, range(-5,5)):
    print(i)

-5
-4
-3
-2
-1

**REDUCE** acumula os itens de acordo com as funções

In [35]:
from functools import reduce

# Soma todos os números da lista
result = reduce(lambda acumulador, x: acumulador + x, [1, 2, 3])  # 6

print(result)  # 6

6

## Loops aninhados / Abrangências de listas

In [ ]:
# Expressão para cada item do 0 a 10, selecione se o resto da divisão for 0
[x**2 for x in range(10) if x % 2 == 0]

[0, 4, 16, 36, 64]

## Funções Geradoras 

Uma função geradora é uma função especial que, em vez de retornar um valor e acabar, ela pode "pausar" e "retomar" seu estado, "gerando" vários valores ao longo do tempo.

* Economiza memória

* Dados sob demanda

* Fluxos infinitos sem travar

In [59]:
def fung1(n):
    for i in range(n):
        yield i ** 2
        
gerador = fung1(4)

In [60]:
print(next(gerador))

0

In [61]:
print(next(gerador))

1

In [62]:
print(next(gerador))

4

In [ ]:
def fung2(n):
    res =[]
    for i in range(n): res.append(i**2)
    return res

for x in fung2(2): print(x)

0
1